<div class="container">
    <div class="row" id="orderSearchArea">
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control" id="whouse8"></select>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="form-group">
                <input id="search" type="text" class="form-control" placeholder="Immediately Free-Keyword Search Here!" autofocus="">
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <button id="submitOrder" class="btn btn-info disabled">Submit Order</button>
        </div>
    </div>
    <hr>
</div>
<div id="orderList">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Category</th>
                    <th>Maker</th>
                    <th>Name</th>
                    <th width="20%">Order</th>
                    <th width="10%">Maximum</th>
                    <th width="10%">Unit</th>
                </tr>
            </thead>
            <tbody id="tbody8"></tbody>
        </table>
    </div>
</div>
<script src="js/customer.js"></script>
