<div class="container">
    <h2>Transportation Tasks</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Type</th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Product Code</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody id="tbody4"></tbody>
    </table>
</div>
<script src="js/driver.js"></script>