<div class="container">
    <h2>Production Orders</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Warehouse</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Order Quantity</th>
                <th>Unit</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody id="tbody3"></tbody>
    </table>
</div>
<script src="js/maker.js"></script>
