<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
            <h3 class="modal-title">Shelves Configurations</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <label>Number: </label>
                        <input type="number" id="geshu" class="form-control" disabled placeholder="Number of Shelves">
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <label>Rows: </label>
                        <input type="number" id="rows" class="form-control" disabled placeholder="Rows of Shelves">
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <label>Columns: </label>
                        <input type="number" id="cols" class="form-control" disabled placeholder="Columns of Shelves">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal" id="shelvesConfirm">Confirm</button>
        </div>
    </div>
</div>
<script src="js/tabs/configShelves.js"></script>