<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="ove" class="tab" tab=0><a>Overview</a></li>
                <li id="mng" class="tab" tab=1><a>Management</a></li>
                <li id="his" class="tab" tab=2><a>History</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-md-9">
            <div id="page"></div>
        </div>
    </div>
</div>
<script src="js/manager.js"></script>
<script src="js/overview.js"></script>