<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">COMPANY<small>&lt;My Stock&gt;</small></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="welcome"></a></li>
                <li id="inv"></li>
                <li id="grp"></li>
                <li><a id="userName"></a></li>
                <li><a id="logout"></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle"
                    data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="index.refresh();"><span
                                class="glyphicon glyphicon-refresh"></span> Refresh</a></li>
                        <li><a onclick="DB.init();"><span
                                class="glyphicon glyphicon-repeat"></span> Init DB</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a onclick="DB.remove();"><span
                                class="glyphicon glyphicon-trash"></span> Delete DB</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<script src="js/backend/db.js"></script>
<script src="js/backend/pos.js"></script>
<script src="js/backend/goods.js"></script>
<script src="js/backend/trans.js"></script>
<script src="js/tool.js"></script>
<script src="js/navbar.js"></script>