<div class="container" id="toolBar">
    <div class="row">
        <div class="col-md-2" id="toolBarLeft"></div>
        <div class="col-md-6 col-md-offset-1" id="search">
            <div class="form-group">
                <input id="search" type="text" class="form-control" placeholder="Immediately Free-Keyword Search Here!" autofocus="">
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1" id="toolBarRight"></div>
    </div>
    <hr>
</div>
<div id="table">
    <div class="container">
        <h2 id="tableHeader"></h2>
        <table class="table">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog"></div>
<script src="js/table.js"></script>