<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
            <h3 class="modal-title">Edit Item</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control" name="code2">
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="kind2"></select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="itemName2">
            </div>
            <div class="form-group">
                <label>Maker</label>
                <select class="form-control" name="maker2"></select>
            </div>
            <div class="form-group">
                <label>Unit</label>
                <input type="text" class="form-control" name="unit2">
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-8" id="erroInfo2"></div>
            <div class="col-md-4">
                <button class="btn btn-success" id="confirmEditGood">Confirm</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="js/tabs/editGood.js"></script>