<div class="col-md-6">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h2 class="whouseName"></h2>
            </div>
            <div class="col-md-6">
                <h3>Total Profit</h3>
                <p>$ <span class="profit"></span></p>
            </div>
            <div class="col-md-6">
                <h3>Capacity:</h3>
                <p><span class="spare"></span> Spare / <span class="total"></span> Total</p>
            </div>
            <div class="col-md-6">
                <h3>Stock Value</h3>
                <p>$ <span class="value"></span></p>
            </div>
        </div>
    </div>
</div>